docker-compose/vault/data/backend
docker-compose/vault/data/logs
docker-compose/rabbitmq/data
docker-compose/mongodb/data
docker-compose/postgress/data
docker-compose/nginx-proxy-manager/sql-data
docker-compose/nginx-proxy-manager/data
docker-compose/redis/data